@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&family=Roboto:wght@100;300;400;700&display=swap");

:root {
  --primaryBackground: hsla(261, 60%, 27%, 0.685);
  --textColor: #ffffff;
  --headerColor: hsl(180, 86%, 52%);
  --boxFooterColor: hsl(189, 60%, 35%);
  --footerBackground: hsl(185, 75%, 33%);
  --frontFamily: Raleway;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primaryBackground);
  background-image: url("./images/bg-intro-desktop.png");
  color: var(--textColor);
  font-family: var(--frontFamily);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}

.container > div {
  flex: 1;
  padding: 0 20px;
}

h1 {
  font-size: 40px;
  line-height: 50px;
}

p {
  font-size: 15px;
  opacity: 0.8;
}

.box {
  background-color: var(--textColor);
  border-radius: 5px;
  box-shadow: 0 6px rgba(0, 0, 0, 0.2);
  padding: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.box p {
  margin: 0;
}

.box-blue {
  background-color: var(--headerColor);
  padding: 20px;
}

.form-control {
  position: relative;
  margin-bottom: 30px;
}

.form-control small {
  color: var(--primaryBackground);
  font-weight: 600;
  position: absolute;
  bottom: -24px;
  right: 0;
  opacity: 10;
  text-align: right;
}

input {
  border-radius: 5px;
  border: 1.3px solid hsl(246, 25%, 77%);
  font-family: var(--frontFamily), sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 25px;
  display: block;
  width: 100%;
}

.form-control.error input {
  border-color: var(--primaryBackground);
  color: var(--primaryBackground);
}

.form-control.error input::placeholder {
  color: var(--primaryBackground);
}

input:focus {
  border: 1.3px solid var(--headerColor);
}

.form-control img {
  opacity: 10;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  height: 20px;
}

.form-control.error img {
  opacity: 10;
}

button {
  background-color: var(--footerBackground);
  border-radius: 5px;
  border: 1px solid var(--boxFooterColor);
  box-shadow: 0 2px var(--boxFooterColor);
  color: var(--textColor);
  cursor: pointer;
  display: block;
  font-family: var(--frontFamily), sans-serif;
  font-size: 14px;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 100%;
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: 0 0 var(--boxFooterColor);
  transform: translateY(2px);
}

.form-control small {
  opacity: 0;
}

.form-control.error small {
  opacity: 10;
}

small {
  display: block;
  color: var(--textColor);
  font-size: 11px;
  font-weight: 500px;
  margin-top: 15px;
}

small a {
  color: var(--primaryBackground);
  font-weight: 600;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  .container {
    flex-direction: column;
  }
}
